<div class="container-fluid px-0 dnd-theme">
  <div class="container py-3">
    <h1 class="text-center"><b>Aggiunti ai preferiti</b></h1>
    <div class="row p-3 g-4" *ngIf="arrayPgs">
      <div class="col-lg-4 col-md-6 col-sm-12 mb-4" *ngFor="let pg of arrayPgs">
        <div class="card dnd-card h-100">
          <img [src]="pg.img" class="card-img-top" alt="pg pic" />
          <div class="card-body">
            <h5 class="card-title"><b>{{ pg.name }}</b></h5>
            <p><b>Classe:</b> {{ pg.classe?.name }}</p>
            <p><b>Statistiche</b></p>
            <div class="table-responsive">
              <table class="table table-dark table-striped mb-0">
                <thead>
                  <tr>
                    <th>Forza</th>
                    <th>Destrezza</th>
                    <th>Intelligenza</th>
                    <th>Cos</th>
                    <th>Armatura</th>
                    <th>Punti ferita</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>{{ pg.forza }}</td>
                    <td>{{ pg.dext }}</td>
                    <td>{{ pg.int }}</td>
                    <td>{{ pg.cos }}</td>
                    <td>{{ pg.classe?.cA }}</td>
                    <td>{{ pg.classe?.pf }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <button class="btn btn-danger dnd-button mt-4" (click)="toggleFavourite(pg.id)">
              Rimuovi da preferiti
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
