<div class="row justify-content-center dnd-theme">
  <div class="col-md-6 col-lg-4 mb-4" *ngIf="pgCurrent && !isEditing">
    <div class="card dnd-card">
      <img class="card-img-top" [src]="pgCurrent.img" [alt]="pgCurrent.name" />
      <div class="card-body">
        <h4 class="card-title">{{ pgCurrent.name }}</h4>
        <p class="card-text">Costituzione: {{ pgCurrent.cos }}</p>
        <p class="card-text">Destrezza: {{ pgCurrent.dext }}</p>
        <p class="card-text">Forza: {{ pgCurrent.forza }}</p>
        <p class="card-text">Intelligenza: {{ pgCurrent.int }}</p>

        <button class="btn btn-danger dnd-button" (click)="onEdit()" [routerLink]="['/builder', pgCurrent.id]">
          Edit
        </button>
      </div>
    </div>
  </div>
</div>
