.dnd-theme {
  background-image: url("https://images.unsplash.com/photo-1506748686214-e9df14d4d9d0?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
  background-size: cover;
  background-position: center;
  padding: 20px;
  color: #fff;
  font-family: "MedievalSharp", cursive;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dnd-card {
  background-color: rgba(0, 0, 0, 0.8);
  border: 2px solid #800000;
  color: #fff;
  border-radius: 15px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.6);
  transition: transform 0.3s, box-shadow 0.3s;
}

.dnd-card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.8);
}

.dnd-card.horizontal-card {
  flex-direction: row;
}

.dnd-card .card-title {
  text-align: center;
  margin-bottom: 10px;
  font-size: 1.5rem;
  border-bottom: 1px solid #800000;
  padding-bottom: 5px;
}

.dnd-card .card-text {
  font-size: 1rem;
  margin-bottom: 5px;
}

.class-title,
.moves-title {
  text-align: center;
  margin-top: 15px;
  font-size: 1.2rem;
  border-top: 1px solid #800000;
  padding-top: 5px;
}

.dnd-card img {
  border-bottom: 2px solid #800000;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  transition: transform 0.3s, filter 0.3s;
}

.dnd-card img:hover {
  transform: scale(1.1);
  filter: brightness(1.1);
}

.dnd-button {
  transition: background-color 0.3s, transform 0.3s;
  font-size: 1.1rem;
}

.dnd-button:hover {
  background-color: #a00000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transform: translateY(-2px);
}
