<div class="container-fluid text-light dnd-theme">
  <div class="row">
    <div class="col-12 col-md-4" style="height: 355px">
      <div
        class="card bg-dark text-light border-light dnd-card d-flex flex-column"
      >
        <img
          *ngIf="user?.pic"
          [src]="'/assets/img-user/' + user?.pic"
          alt="Profile Picture"
          width="50"
          height="50"
        />
        <div
          *ngIf="!user?.pic"
          class="card-img-top"
          style="
            max-height: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
          "
        >
          <span>No Image Available</span>
        </div>
        <div class="card-body">
          <h5 class="card-title">{{ user?.username }}</h5>
          <p class="card-text" style="font-size: 17px">
            Informazioni aggiuntive dell'utente. Clicca
            <a href="favourites" class="text-light">qui</a> per visualizzare i
            tuoi preferiti.
          </p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-8">
      <div class="tab-content">
        <div class="tab-pane fade active show altezza" id="account-general">
          <div
            id="card"
            class="card bg-dark text-light border-light dnd-card d-flex flex-column"
          >
            <div class="card-header">
              <h3 class="display-5">Profilo Generale</h3>
            </div>
            <div class="card-body">
              <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                  <label for="username" class="form-label">Nome Utente</label>
                  <input
                    type="text"
                    id="username"
                    class="form-control"
                    formControlName="username"
                    placeholder="Nome Utente"
                  />
                </div>
                <div class="form-group mt-3">
                  <label for="email" class="form-label">Email</label>
                  <input
                    type="email"
                    id="email"
                    class="form-control"
                    formControlName="email"
                    placeholder="Email"
                  />
                  <div
                    *ngIf="
                      profileForm.get('email')?.touched &&
                      profileForm.get('email')?.invalid
                    "
                    class="text-danger"
                  >
                    <div *ngIf="profileForm.get('email')?.hasError('required')">
                      Email è obbligatorio
                    </div>
                    <div *ngIf="profileForm.get('email')?.hasError('email')">
                      Email non valido
                    </div>
                  </div>
                </div>
                <button
                  type="submit"
                  class="btn btn-primary mt-3"
                  [disabled]="!profileForm.valid"
                >
                  Salva
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6 offset-md-1 mt-5">
    <div class="card bg-dark text-light border-light pb-3">
      <h1 class="text-center p-3 mb-4 mt-2">I tuoi Personaggi</h1>
      <div class="row justify-content-center align-items-center">
        <div *ngIf="characters.length === 0" class="col-md-12 text-center">
          <button class="create-character-btn" (click)="createCharacter()">
            Crea PG
          </button>
        </div>
        <div class="col-md-12">
          <div class="character-container">
            <div class="row justify-content-center">
              <div
                class="col-md-6 col-lg-4 m-2"
                *ngFor="let character of characters"
              >
                <div
                  class="card bg-dark text-light dnd-card flex-column character-card"
                >
                  <app-single-pg
                    [pg]="character"
                    [arrayFavourites]="favouritesArray"
                  ></app-single-pg>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
