.dnd-theme {
  background-image: url("../../../assets/builder.webp");
  background-size: cover;
  background-position: center;
  padding: 20px;
  color: #fff;
  font-family: "MedievalSharp", cursive;
  min-height: 84.4vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Stile per le carte principali */
// .dnd-card {
//   background-color: rgba(0, 0, 0, 0.7);
//   color: #fff;
//   border-radius: 15px;
//   box-shadow: 0 6px 12px rgba(0, 0, 0, 0.6);
//   width: 100%;
//   max-width: 1000px;
//   margin-bottom: 20px;
//   display: flex;
//   flex-direction: column;
//   justify-content: space-between;
//   font-family: "MedievalSharp", cursive;
//   text-align: center;
//   font-size: 1.5rem;
//   padding-bottom: 5px;
// }

/* Stile per le immagini all'interno delle carte */
img {
  border-bottom: 2px solid #800000;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 100%;
  height: 200px;
  object-fit: cover;
}

/* Stile per il pulsante "Crea PG" */
.create-character-btn {
  background: url('/assets/dnd-button-bg.png') no-repeat center center;
  background-size: cover;
  border: 2px solid #800000;
  border-radius: 15px;
  width: 150px;
  height: 150px;
  display: inline-block;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
  position: relative;
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
}

.create-character-btn {
  background-color: #800000;
  color: #fff;
  border: 2px solid #800000;
  border-radius: 10px;
  width: 200px;
  height: 60px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-family: "MedievalSharp", cursive;
  font-size: 1.2rem;
  text-transform: uppercase;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  outline: none;
  position: relative;
}

.create-character-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #800000;
  border-radius: 10px;
  z-index: -1;
  transition: transform 0.3s;
}

.create-character-btn:hover::before {
  transform: scale(1.1);
}

.create-character-btn:hover {
  background-color: #5c0000;
  border-color: #5c0000;
}

.create-character-btn:active {
  transform: translateY(1px);
}
.character-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.character-card {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 15px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.6);
  color: #fff;
  width: 250px;
  min-width: 200px;
  max-width: 300px;
  overflow: hidden;
  flex: 1 1 auto;
  max-width: 100%;
}
.btn-primary {
  background-color: #800000;
  border-color: #800000;
  color: #fff;
}

.btn-primary:hover {
  background-color: #5c0000 !important;
  border-color: #5c0000 !important;
}
#card{
  height: 343px;
}
#profilo{
   height: 337px;
}
