.dnd-theme {
  background-image: url('../../../assets/builder.webp');
  background-size: cover;
  background-position: center;
  padding: 20px;
  color: #fff;
  font-family: 'MedievalSharp', cursive;
  min-height: 85.4vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .custom-title {
    font-size: 3rem;
    text-align: center;
    color: #ffd700; // Testo dorato per attirare l'attenzione
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); // Ombra per aggiungere profondità
    background: linear-gradient(45deg, #b22222, #ff4500); // Un gradiente fantasy dal rosso all'arancione
    padding: 20px;
    border: 3px solid #ff4500; // Bordo arancione per accentuare il titolo
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.8); // Ombra per un tocco magico
  }
}

.dnd-card {
  background-color: rgba(0, 0, 0, 0.7);
  border: 2px solid #800000;
  color: #fff;
  border-radius: 15px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.6);
  width: 100%;
  max-width: 1000px;
  margin-bottom: 20px;

    font-family: 'MedievalSharp', cursive;
    text-align: center;
    margin-bottom: 10px;
    font-size: 1.5rem;
    border-bottom: 1px solid #800000;
    padding-bottom: 5px;
  }

  img {
    border-bottom: 2px solid #800000;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
    height: 200px;
    object-fit: cover;
  }

  .card-body {
    .form-group {
      label {
        color: #fff; // Testo bianco per contrastare con lo sfondo scuro
      }

      input.form-control {
        background-color: #343a40; // Sfondo scuro per input
        color: #fff; // Testo bianco per contrasto
        border-color: #495057; // Bordo leggermente più chiaro per evidenziare l'input

        &:focus {
          border-color: #007bff; // Bordo blu quando l'input è in focus
          box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); // Ombra blu per un tocco magico
        }
      }
    }

    .text-danger {
      color: #dc3545; // Testo rosso per indicare un errore
    }

    button.btn-primary {
      background-color: #007bff; // Un blu vibrante per il pulsante principale
      border-color: #007bff; // Bordo blu per abbinarsi al colore di sfondo

      &:hover {
        background-color: #0056b3; // Un blu più scuro al passaggio del mouse per un tocco di magia
        border-color: #0056b3;
      }

      &:disabled {
        background-color: #6c757d; // Un grigio più scuro per il pulsante disabilitato
        border-color: #6c757d;
      }
    }
  }

