<div class="container-fluid theme">
  <div class="row text-light">
    <div class="col-6 col-md-4 bg dark">
      <div class="d-flex justify-content-around flex-wrap">
        <div class="bot-name" *ngIf="pg">
          <p>{{ pg.name }} ({{ utente?.username }})</p>
        </div>
        <div *ngIf="pg"><img [src]="pg.img" class="battle-img" /></div>
      </div>
      <p *ngIf="pfPg">{{ pfPg }} / {{ pgTotpf }} punti ferita</p>
      <div class="health-bar-container">
        <div class="health-bar">
          <div
            *ngIf="pfPg && classe.pf"
            class="health-bar-active"
            [style.width.%]="(pfPg / classe.pf) * 100"
          ></div>
        </div>
      </div>
      <div class="battlefield-section" *ngIf="mosse && mosse.length > 0">
        <button
          class="btn btn-dark"
          *ngFor="let m of mosse"
          (click)="startRound(m.id)"
          [disabled]="roundActive"
        >
          <p *ngIf="m">{{ m.nome }}</p>
        </button>
      </div>
    </div>
    <div class="col-6 col-md-4">
      <div class="d-flex justify-content-around flex-wrap">
        <div class="bot-name" *ngIf="pg">
          <p *ngIf="botPg">{{ botPg.name }}</p>
        </div>
        <div *ngIf="botPg"><img [src]="botPg.img" class="battle-img" /></div>
      </div>
      <p *ngIf="pfBot && botClasse">
        {{ pfBot }} / {{ botTotpf }} punti ferita
      </p>
      <div class="health-bar-container">
        <div class="health-bar">
          <div
            *ngIf="pfBot && botClasse.pf"
            class="health-bar-active"
            [style.width.%]="(pfBot / botClasse.pf) * 100"
          ></div>
        </div>
      </div>
      <div class="battlefield-section" *ngIf="mosse && botMosse.length > 0">
        <button class="btn btn-dark" *ngFor="let m of botMosse">
          {{ m.nome }}
        </button>
      </div>
    </div>
    <div class="col-12 col-md-4" id="battle-log" *ngIf="playerLog">
      <p *ngFor="let p of playerLog">{{ p }}</p>
    </div>
  </div>
</div>
