a {
  cursor: pointer;
}

.logo {
  max-width: 80px;
}

.btn-hover:hover,
.nav-link:hover {
  background-color: #ff00009c;
  color: #fff;
}

.navbar {
  font-family: 'MedievalSharp', cursive;
  border-bottom: 1px solid white;
  z-index: 1030;
}

.dropdown {
  position: relative;
  z-index: 1050;
}

.dropdown-menu {
  background-color: #000 !important;
  border: 1px solid white !important;
  z-index: 1060;
}

.dropdown-item {
  color: #fff !important;
}

.dropdown-divider {
  height: 1px;
  margin: .5rem 0;
  overflow: hidden;
  background-color: #fff;
}

.dropdown-item:hover {
  background-color: #ff00009c;
  color: #fff;
}
