<nav class="sticky-top navbar navbar-expand-lg bg-black p-2">
  <div class="container-fluid position-sticky top-0">
    <a routerLink="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
      <img src="../../../assets/d&d Builder (2).png" class="d-inline-block align-top me-2 logo" alt="logo" />
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
        <li class="nav-item ms-2">
          <button *ngIf="!isLoggedIn" type="button" class="nav-link text-white" routerLink="/">
            <i class="bi bi-house-door-fill"></i>
            Home
          </button>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn">
          <button type="button" class="nav-link text-white" routerLink="dashboard">
            <i class="bi bi-camera-reels pb-1"></i>
            Dashboard
          </button>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn">
          <button type="button" class="nav-link text-white" routerLink="favourites">
            <i class="bi bi-heart"></i>
            Favorites
          </button>
        </li>
      </ul>
      <div class="ms-auto d-flex align-items-center">
        <div class="dropdown" ngbDropdown *ngIf="isLoggedIn">
          <button class="btn btn-black dropdown-toggle" id="dropdownMenuButton" ngbDropdownToggle>
            <img *ngIf="isLoggedIn && user?.pic" [src]="'/assets/img-user/' + user?.pic" class="rounded-circle" alt="Profile Picture"
              width="50" height="50" />
          </button>
          <ul class="dropdown-menu dropdown-menu-end" ngbDropdownMenu aria-labelledby="dropdownMenuButton">
            <li>
              <a class="dropdown-item" [routerLink]="['builder', 0]">
                <i class="bi bi-plus-circle"></i> Builder
              </a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="profile">
                <i class="bi bi-people"></i> Profile
              </a>
            </li>
            <hr class="dropdown-divider">
            <li>
              <a class="dropdown-item" href="#" (click)="logout()">
                <i class="bi bi-door-closed"></i> Logout
              </a>
            </li>
          </ul>
        </div>
        <button *ngIf="!isLoggedIn" routerLink="/auth/login" type="button" class="nav-link text-white">
          <i class="bi bi-door-open"></i>
          Login
        </button>
      </div>
    </div>
  </div>
</nav>
