<div class="container-fluid bg-dnd py-5 inferno-bg">
  <div class="row justify-content-center align-items-center">
    <div class="col-md-6">
      <div class="card shadow-lg p-5 inferno-card">
        <h2 class="text-center mb-4 text-dnd">Accedi alla tua avventura</h2>
        <form (ngSubmit)="signIn()">
          <div class="mb-3">
            <label for="inputEmail" class="form-label text-dnd">Email</label>
            <input type="email" class="form-control inferno-input" [(ngModel)]="loginData.email" id="inputEmail" placeholder="name@example.com" name="email" required>
          </div>
          <div class="mb-3">
            <label for="inputPassword" class="form-label text-dnd">Password</label>
            <input type="password" class="form-control inferno-input" [(ngModel)]="loginData.password" id="inputPassword" placeholder="Password" name="password" required>
          </div>
          <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="rememberMe">
            <label class="form-check-label text-dnd" for="rememberMe">Ricordami</label>
          </div>
          <button type="submit" class="btn btn-dark w-100 inferno-btn">Accedi</button>
        </form>
        <p class="mt-4 text-center text-dnd">&copy; DAJE</p>
      </div>
    </div>
  </div>
</div>
