body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
}

.form-control{
  margin-left: 6em;
}

.dnd-theme {
  background-image: url("../../../assets/dnd-idra.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  color: #fff;
  font-family: "MedievalSharp", cursive;
}

.transparent-bg {
  background-color: rgba(255, 255, 255, 0.3) !important;
  backdrop-filter: blur(5px);
  z-index: 0;
}

.btn-icon {
  position: relative;
  z-index: 0;
}

.btn:hover {
  background-color: #ff00009c;
  color: #fff;
}
