<div class="dnd-theme pt-0 px-0">
  <div class="container-fluid px-0 py-2 border-bottom mb-3 transparent-bg">
    <div class="d-flex flex-wrap justify-content-between px-3">
      <form class="col-12 col-sm-auto mb-2 mb-lg-0 me-lg-auto">
        <input
          type="search"
          class="form-control"
          [(ngModel)]="searchTerm"
          name="searchTerm"
          placeholder="Search PG"
          aria-label="Search"
        />
      </form>

      <div class="text-end">
        <button
          type="button"
          class="btn btn-outline-none me-2 btn-icon"
          (click)="showAll()"
        >
          <i class="bi bi-grid-fill text-dark"></i>
        </button>
        <button
          type="button"
          class="btn btn-outline-none btn-icon"
          (click)="onSearch()"
        >
          <i class="bi bi-search text-dark"></i>
        </button>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div
        class="col-lg-2 col-md-4 col-sm-6 mb-4"
        *ngFor="let pg of pgSearchArray"
      >
        <app-single-pg
          [pg]="pg"
          [arrayFavourites]="favouritesArray"
        ></app-single-pg>
      </div>
    </div>
  </div>
</div>
