<div class="dnd-theme">
  <div class="container">
    <div class="row justify-content-center align-content-center">
      <div class="col-md-8">
        <div class="card dnd-card">
          <div class="card-body">
            <form #form="ngForm">
              <div class="row">
                <div class="col-12 col-md-6">
                  <div class="form-group">
                    <label for="name">Name</label>
                    <input
                      id="name"
                      [(ngModel)]="pgCurrent.name"
                      name="name"
                      class="form-control"
                      required
                      #nome="ngModel"
                    />
                    <div
                      *ngIf="nome.invalid && (nome.dirty || nome.touched)"
                      class="alert alert-danger"
                    >
                      Il nome è obbligatorio
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="classe">Classe</label>
                    <select
                      id="classe"
                      class="form-select"
                      name="class"
                      [(ngModel)]="pgCurrent.classeId"
                      (change)="getmossebyclasse($event)"
                      required
                      #classe="ngModel"
                    >
                      <option [value]="pgCurrent.classeId" selected disabled>
                        {{ classeSelect.name }}
                      </option>
                      <option *ngFor="let c of classi" [value]="c.id">
                        {{ c.name }}
                      </option>
                    </select>
                    <div
                      *ngIf="classe.invalid && (classe.dirty || classe.touched)"
                      class="alert alert-danger"
                    >
                      La selezione della classe è obbligatoria.
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="cos">Costituzione</label>
                    <input
                      type="number"
                      id="cos"
                      [(ngModel)]="pgCurrent.cos"
                      name="cos"
                      class="form-control"
                      min="8"
                      max="18"
                    />
                  </div>
                  <div class="form-group">
                    <label for="dext">Destrezza</label>
                    <input
                      type="number"
                      id="dext"
                      [(ngModel)]="pgCurrent.dext"
                      name="dext"
                      class="form-control"
                      min="8"
                      max="18"
                    />
                  </div>
                  <div class="form-group">
                    <label for="forza">Forza</label>
                    <input
                      type="number"
                      id="forza"
                      [(ngModel)]="pgCurrent.forza"
                      name="forza"
                      class="form-control"
                      min="8"
                      max="18"
                    />
                  </div>
                  <div class="form-group">
                    <label for="int">Intelligenza</label>
                    <input
                      type="number"
                      id="int"
                      [(ngModel)]="pgCurrent.int"
                      name="int"
                      class="form-control"
                      min="8"
                      max="18"
                    />
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="form-group">
                    <label for="imagen">Url immagine</label>
                    <input
                      type="text"
                      id="imagen"
                      [(ngModel)]="pgCurrent.img"
                      name="imagen"
                      class="form-control"
                    />
                    <img
                      *ngIf="pgCurrent.img"
                      class="card-img-top mt-2"
                      [src]="pgCurrent.img"
                      [alt]="pgCurrent.name"
                    />
                  </div>
                  <div class="form-group">
                    <label for="imagePng">Png animazione</label>
                    <input
                      type="text"
                      id="imagePng"
                      [(ngModel)]="pgCurrent.imgpng"
                      name="imagen"
                      class="form-control"
                    />
                  </div>
                  <div
                    class="form-group"
                    *ngIf="classeSelect && classeSelect.mosse"
                  >
                    <label><b>Mosse:</b></label>
                    <div *ngFor="let m of classeSelect.mosse">
                      <p>
                        <b>{{ m.nome }}</b>
                      </p>
                      <p><b>Danno:</b> {{ m.danno }}</p>
                      <p><b>Descrizione:</b> {{ m.descrizione }}</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="text-center mt-2">
                <button
                  *ngIf="isCreating"
                  class="btn btn-danger dnd-button"
                  type="submit"
                  (click)="create()"
                  [disabled]="form.invalid"
                >
                  Crea
                </button>
                <button
                  *ngIf="!isCreating"
                  class="btn btn-danger dnd-button"
                  type="submit"
                  (click)="modifica()"
                  [disabled]="form.invalid"
                >
                  {{ !isMine ? "Copia Build" : "Modifica" }}
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
